# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
__pycache__/
dataset/
runs/
videos/

*.pt
keys.json

chat.py
gemini.py
meta_data.py
nlp_dlm.py
valo_log.py