# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
__pycache__/
dataset/
runs/
videos/
voices/
app_comments.py
app_vision.py 
chat.py 
gemini.py 
keys.json
meta_data.py 
model.pt
nlp_dlm.py
valo_log.py
video_chat.py
voice.py
voice.wav
yolo11n.pt
yolov8s.pt
